.input-field {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  font-size: 13px;
}
#input-label {
  margin: 10px 0px;
  color: #028bbf;
}
input {
  height: 28px;
  border-radius: 6px;
  border: 2px solid #028bbf;
  padding: 6px;
}
