.input-field {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  font-size: 13px;
  margin-bottom: 15px;
}
#input-label {
  margin-bottom: 4px;
  color: #028bbf;
}
.text-input {
  height: 28px;
  border-radius: 6px;
  border: 2px solid #028bbf;
  padding: 6px;
}
